@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Montserrat:ital,wght@1,300;1,800&display=swap');
*{
    margin: 0;
    padding: 0;
    cursor: none !important;
}
body{
    overflow-x: hidden;
}
// font-family: 'Bangers', cursive;
// font-family: 'Montserrat', sans-serif;